#header{
    /* background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%); */
    background-image: radial-gradient( circle 311px at 8.6% 27.9%,  rgba(62,147,252,0.57) 12.9%, rgba(239,183,192,0.44) 91.2% );  
}
.footer{
    background-image: radial-gradient( circle 311px at 8.6% 27.9%,  rgba(62,147,252,0.57) 12.9%, rgba(239,183,192,0.44) 91.2% );  


}
#home{
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}
#btn{
    /* background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */
background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
}
